/*style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(37, 94, 233);
    padding-top: 20px;
}

.button-accedi {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 55, 57);
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}

.button-accedi:hover {
    color: rgb(114, 137, 218);
    box-shadow: 0 1px rgb(204, 202, 202);
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 55, 57);
    border-radius: 20px;
    padding: 20px 32px;
    text-decoration: none;
}

.button1:hover {
    color: rgb(114, 137, 218);
    box-shadow: 0 1px rgb(204, 202, 202);
}

.button2 {
    background-color: rgb(35, 39, 42);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 32px;
    text-decoration: none;
    margin-left: 10px;
}

.button2:hover {
    background-color: rgb(61, 68, 73);
    box-shadow: 0 1px rgb(73, 73, 73);
}

.button3 {
    background-color: rgb(142, 161, 225);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px 30px;
    text-decoration: none;
}

.button3:hover {
    background-color: rgb(163, 182, 245);
    box-shadow: 0 1px rgb(204, 199, 199);

}

.space-button {
    padding-top: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 550;
}

li a:hover {
    text-decoration: underline;
}

header nav .container {
    padding: 10px 0;
}

header nav ul {
    min-width: 500px;
}

.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 465px;
}

.inner-hero {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#maintitle {
    color: rgb(255, 255, 255);
    padding-top: 90px;
    font-size: 55px;
}

#paragraph1 {
    color: rgb(255, 255, 255);
    padding-top: 40px;
}

.mainbox {
    width: 100%;
    padding: 50px 0px;
    max-width: 1170px;
    margin: 0 auto;
}

.mainbox2 {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    margin: 0 auto;
}

.margin-top {
    margin-top: 100px;
}

.left-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.flexb {
    flex-basis: 40%;
}

.left-box h2 {
    font-size: 50px;
    padding-bottom: 30px;
    margin-left: 80px;
    color: rgb(35, 39, 42);
}

.left-box p {
    font-size: 20px;
    margin-left: 80px;
    color: rgb(28, 32, 36);
}

#space {
    margin-top: 10px;
}

.box-grey {
    background-color: rgb(246, 246, 246);
}

.wave-1hkxOo {
    color: rgb(246, 246, 246);
    display: flex;
}

.right-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(246, 246, 246);
    max-width: 1170px;
}

.right-box h2 {
    font-size: 50px;
    padding-bottom: 30px;
    margin-right: 80px;
    color: rgb(35, 39, 42);
}

.right-box p {
    font-size: 20px;
    margin-right: 80px;
    color: rgb(28, 32, 36);
}

.lastbox {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding-bottom: 120px;
}

.center-box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6 0px;
    max-width: 1170px;
}

.center-box h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.center-box p {
    font-size: 20px;
}

h3 {
    font-size: 25px;
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
}

.flex-container img {
    height: 19px;
    width: 27px;
    margin-right: 5px;
    vertical-align: middle;
}

footer {
    width: 100%;
    background-color: rgb(35, 39, 42);
    min-height: 100px;
}

li img {
    width: 30px;
}

li {
    color: white;
    padding: 5px 0;
}

ul {
    list-style: none;
}

hr {
    width: 80%;
    margin: 25px auto;
    border: 1px solid rgb(114, 137, 218);
    background-color: rgb(114, 137, 218);
}

.flexfooter {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

li h4 {
    color: rgb(114, 137, 218);
}

li h3 {
    color: rgb(114, 137, 218);
    padding-bottom: 15px;
    font-size: 30px;
}

li i {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.flex-container li a:hover {
    text-decoration: underline;
}

.flexfooter .button3 {
    border-radius: 20px;
    padding: 10px 10px;
}

.spacefooter {
    margin-right: 80px;
}